<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Shao-Chung Chen">
  <meta name="description" content="Translation service for IOI 2014 in Taiwan">
  <title>IOI'14 Translation</title>
  <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet">
  <link href="/assets/stylesheets/linguist-global.css" rel="stylesheet">
  <link href="/assets/stylesheets/partial-reset.css" rel="stylesheet">
  <%= yield_content :stylesheets %>
  </head>
<body>
